12 0 * * * PYTHONPATH=/home/connext/webapps/uclunch:/home/connext/webapps/uclunch/lib/python2.7 DJANGO_SETTINGS_MODULE=uchicagolunch.settings /usr/local/bin/python2.7 /home/connext/webapps/uclunch/uchicagolunch/manage.py prunequeue
0 0 * * sun PYTHONPATH=/home/connext/webapps/uclunch:/home/connext/webapps/uclunch/lib/python2.7 DJANGO_SETTINGS_MODULE=uchicagolunch.settings /usr/local/bin/python2.7 /home/connext/webapps/uclunch/uchicagolunch/manage.py loadweek
@daily PYTHONPATH=/home/connext/webapps/uclunch:/home/connext/webapps/uclunch/lib/python2.7 DJANGO_SETTINGS_MODULE=uchicagolunch.settings /usr/local/bin/python2.7 /home/connext/webapps/uclunch/uchicagolunch/manage.py match
