header {
    text-align: center;
}

header h1 {
    font-family: "Adobe Garamond Pro", Times, serif;
    font-size: 2.4em;
    color: #800000;
    cursor: pointer;
}

header #inspired {
    font-family: "Times New Roman", Times, sans-serif;
    font-style: italic;
}

#content-header {
    font-size: 1.5em;
}

#submit-success {
    text-align: center;
    color: green;
}

#schedule-week {
    font-size: 1.2em;
    text-align: center;
}

#client-form-list>li {
    text-align: center;
    margin: 0.5em;
}

li.formerror {
    font-weight: bold;
    color: red;
    margin-left: 2em;
}

.fancy_br { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
    background: -moz-linear-gradient(left, white, black 50%, white);
}

#spread3 {
    text-align: center;
}

#spread3 #blurb {
    font-size: 1.2em;
}

#spread3 h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

#spread3 h2 {
    text-align: center;
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

#footer {
    margin-top: 10px;
    border-top: 1px solid black;
}
