<html>
<p>
Hello {% if switch %}{{ match.person2.name }}{% else%}{{ match.person1.name }}{% endif %},
<br />
You've got a lunch date, courtesy of UChicago.Lunch!
</p>

<p>
<b>
{% if switch %}
{{ match.person1.name }}</b> (<a href="mailto:{{ match.person1.email }}">{{ match.person1.email }}</a>)
{% else %}
{{ match.person2.name }}</b> (<a href="mailto:{{ match.person2.email }}">{{ match.person2.email }}</a>)
{% endif %}
<br />
<b>
{{ match.location.name }}<br />
Category: {{ match.location.category }}<br />
{{ match.location.address }}<br />
{{ match.date|date:"l, F j, Y g:i A" }}<br />
</b>
</p>

<p>Please note that the venue, date, and time are only suggestions. We highly recommend that you contact your date
to confirm, or arrange to meet at another location or time.</p>

<p>Have fun and enjoy your meal!</p>
<p>
Thanks, <br />
the UChicago.Lunch crew
</p>
</html>
