<html>
<p>
Hello {% if switch %}{{ match.person2.name }}{% else%}{{ match.person1.name }}{% endif %},
<br />
You've got a lunch date, courtesy of UChicago.Lunch!

<p>
<b>
{% if switch %}
{{ match.person1.name }}</b> (<a href="mailto:{{ match.person1.email }}">match.person1.email</a>)
{% else %}
{{ match.person2.name }}</b> (<a href="mailto:{{ match.person2.email }}">match.person2.email</a>)
{% endif %}
<br />
<b>
{{ match.location.name }}<br />
{{ match.location.date }}<br />
</b>
</p>

<p>Have fun and enjoy your meal!</p>
<p>
Thanks, <br />
the UChicago.Lunch crew
</p>
</html>
