{% extends 'base.html' %}
{% load url from future %}
{% block content %}
<div class="container_12">
    <div class="grid_12">
        <h1 id="content-header">Frequently asked questions</h1>
        <ul>
            <li><p class="bold">Where did the idea come from?</p>
                <p>UChicago.Lunch is inspired by <a href="http://harvardlunch.com">HarvardLunch</a>. After seeking wisdom from its creator,
                we decided to take the best of that site and combine it with some of our own special sauce: automated scheduling, restaurant suggestions,
                and more.</p>
            </li>
            <li><p class="bold">Is UChicago.Lunch a dating site?</p>
                <p>Only in a platonic sense (read: NOT romantic). We aim only to help students meet people they might not have met otherwise,
                and to expand the dining options available to UChicago students.</p>
            </li>
            <li><p class="bold">How do I increase my chances of getting matched?</p>
                <p>By selecting more days on which you are available, and by selecting more restaurant categories, you increase your chances of
                getting matched.</p>
            </li>
            <li><p class="bold">What restaurants have you included?</p>
                <p>Our restaurant list was compiled using a combination of the Chicago Life dining guide, Yelp, and personal knowledge.</p>
            </li>
            <li><p class="bold">Is the restaurant and meeting time that I was given set in stone?</p>
                <p>Not at all! We encourage people to contact their lunch dates if another time or place would be preferable.</p>
            </li>
            <li><p class="bold">I don't like my restaurant or meeting time. What should I do?</p>
                <p>Please contact your lunch date and inform them. UChicago.Lunch is a matching service only and is not able to resolve
                   individual conflicts.</p>
            </li>
            <li><p class="bold">When do I know if I get matched / How much advance notice do I get?</p>
                <p>Due to the randomized nature of our matching algorithm, we are not able to provide specific timeframes. However,
                   if we are able to match you, you will usually receive an email several hours prior to the start of the lunch date, at the latest.
                   Please note that we will not send an email if you are not able to be matched.</p>
            </li>
            <li><p class="bold">When does my request expire?</p>
            <p>You must activate your request by 8am on the earliest selected day using the activation link emailed to you. Once
               your request becomes active, the expiration date will be moved to 8am of the latest day you selected. If we match you for a lunch date,
               we'll automatically expire your request afterwards so that you can request another one!</p> 
            </li>

        </ul>
    </div>
</div>
{% endblock %}
