{% extends 'base.html' %}
{% load static %}
{% load url from future %}

{% block content %}
<div id="client-form" class="container_12">
    <div class="grid_12">
    <h3 id="schedule-week">Now scheduling for<br />
    {{ weekstr }}</h3>
    {% if valid_submit %}
    <p id="submit-success">Your information has been added to the queue. We'll let you know when we find a match!</p>
    {% else %}
    <form method="post">
    {% csrf_token %}
    <ul id="client-form-list">
    {% for field in form %}
    <li>{{ field.label }}</li>
    {% if field.errors %}{% for e in field.errors %}<li class="formerror">{{ e }}</li>{% endfor %}{% endif %}
    <li>{{ field }}</li>
    {% endfor %}
    <li><input id="client-form-submit" type="submit" value="Submit" /></li>
    <li><i>Your lunch date will be scheduled somewhere between 12-2 pm on one of the days you choose.</i>
    </ul>
    </form>
    {% endif %}
    </div>
</div>
<div id="spread3" class="container_12">
    <div class="fancy_br">
    </div>
    <div class="grid_12">
        <p id="blurb">UChicago.Lunch pairs you randomly with another student for lunch in three easy steps.</p>
    </div>
    <div class="grid_12">
    <div class="grid_4 alpha">
        <h2>1. Contact Info</h2>
        <p>Once we find a match, we'll let you know the details of your lunch date via email.
        We'll also send you your lunch date's contact info, and vice versa.</p>
    </div>
    <div class="grid_4">
    <h2>2. Time and Place</h2>
    <p>We'll find someone who enjoys the same types of food as you do, and schedule
    your lunch date at an appropriate time and place. Our system will suggest a suitable restaurant on or around campus.</p>
    </div>
    <div class="grid_4 omega">
    <h2>3. Bon Appétit!</h2>
    <p>Enjoy your lunch and meet someone new!</p>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<script>
$(document).ready(function() {
    $('select').multiselect({header: 'Choose at least one'});
    $('#client-form-submit').button();
});
</script>
{% endblock %}
