{% extends 'base.html' %}
{% load static %}
{% load url from future %}

{% block content %}
<div id="client-form" class="container_12">
    <div class="grid_12">
    <h3 id="schedule-week">Now scheduling for the week of<br />
    {{ weekstr }}</h3>
    <form method="post">
    {% csrf_token %}
    <ul id="client-form-list">
    {% for field in form %}
    <li>{{ field.label }}</li>
    {% if field.errors %}{% for e in field.errors %}<li class="formerror">{{ e }}</li>{% endfor %}{% endif %}
    <li>{{ field }}</li>
    {% endfor %}
    </li>

    <li><input id="client-form-submit" type="submit" value="Submit" /></li>
    </ul>
    </form>
    </div>
</div>
<div id="spread3" class="container_12">
    <div class="fancy_br">
    </div>
    <div class="grid_12">
        <h1>It's as easy as 1, 2, 3</h1>
    </div>
    <div class="grid_12">
    <div class="grid_4 alpha">
        <h2>1. Contact Info</h2>
        <p>Once we find a match, we'll let you know the details of your lunch date via email.
        We'll also send you your lunch date's contact info, and vice versa.</p>
    </div>
    <div class="grid_4">
    <h2>2. Time and Place</h2>
    <p>We'll find someone who enjoys the same types of food as you do, and schedule
    your lunch date at an appropriate time and place. Our system will suggest a restaurant that
    fits the culinary categories you picked.</p>
    </div>
    <div class="grid_4 omega">
    <h2>3. Bon appetit!</h2>
    <p>Enjoy your lunch and meet someone new!</p>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
{{ block.super }}
<script>
$(document).ready(function() {
    $('select').multiselect();
    $('#client-form-submit').button();
});
</script>
{% endblock %}
