{% extends 'base.html' %}
{% load url from future %}
{% block content %}
<div class="container_12">
    <div class="grid_12">
        <h1 id="content-header">Terms of Use</h1>
        <ul>
            <li><p class="bold">Eligibility for Use</p>
                <p>You must be a member of the UChicago community (faculty, student, or staff) in order to use UChicago.Lunch.
                   Use of the service requires that your real, full name and uchicago.edu email address be provided. Ineligible and/or
                   fraudulent users/emails will be banned from further use of the service.</p>
            </li>
            <li><p class="bold">Disclaimer of Liability</p>
                <p>UChicago.Lunch and its owners are not liable for any events and/or incidents that arise as a direct or
                   indrect consequence of using the service. This includes, but is not limited to: negative experiences,
                   bad food, or post-meal gastro-intestinal distress. </p>
            </li>
            <li><p class="bold">User Information</p>
                <p>UChicago.Lunch gathers user data (including, but not limited to names and email addresses) for the sole purpose of enabling
                site functionality. We will never knowingly provide user data to a third party for any purpose. However, we are not liable for
                any security breaches that result in dissemination of user data.</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
